<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    /*.panel{
      border-radius: 20px;
    }*/
    body {background-color:#f5f8fa}
    
    .navbar-header{
      margin:0px;
    }
    .navbar-brand{
      font-size:30px;
    }
    .container{
      max-width:720px;
      margin:0 auto;
    }
    
    .panel-heading{
      font-size:20px;
    }

  </style>
</head>
<body>
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Message Board</a>
      </div>
    </div>
  <div class ="container">
    <%= yield %>
  </div>
</body>
</html>
